<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://120.26.201.61:8080/palm/download/app/ios/palmteach_ent_v1.0.1.ipa</string>
				</dict> 
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.heimavista.demo.palmteach-ent</string>
				<key>bundle-version</key>
				<string>1.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>palmteach_ent</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
